In [3]:
import numpy as np
import pandas as pd

In [4]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [5]:
train

,id,uid,Location,Gender,Age,Height,Weight,Hash,FHO,CHCF,...,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode,Obesity_Level
0,14633,Q68lpI2C3l8tw2QW,SunderNagar,Male,23.000000,1.700000,83.0,##########,1.0,0,...,3.0,Sometimes,0,3.000000,0,3.000000,1.000000,0,Walking,Overweight_Level_II
1,19443,eUsHPeGtQ1HwdF2p,Punjabi Bagh,Female,23.000000,1.600000,84.0,##########,1.0,1,...,3.0,Sometimes,0,3.000000,0,3.000000,0.000000,0,Public_Transportation,Obesity_Type_I
2,10216,swftYdUOhKVvaKI8,VikasPuri,Female,28.825223,1.549748,65.220249,##########,1.0,0,...,3.0,Sometimes,0,1.984323,0,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
3,2016,U3xIAw1dohYe23cM,Vasant Vihar,Male,25.341399,1.787195,115.428276,##########,1.0,1,...,3.0,Sometimes,0,2.535127,0,0.849811,1.899330,Sometimes,Public_Transportation,Obesity_Type_II
4,9674,MrZ5Tzad8D250EPc,Vasant Vihar,Male,22.000000,1.750000,58.0,##########,0.0,1,...,4.0,Sometimes,0,2.000000,0,2.000000,0.000000,0,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12449,11284,EfPUL1prjNsEwpKI,SunderNagar,Female,26.000000,1.639251,111.946321,##########,1.0,1,...,3.0,Sometimes,0,2.640539,0,0.000000,0.456462,Sometimes,Public_Transportation,Obesity_Type_III
12450,11964,3VnknaQ5N1mXJsvK,VikasPuri,Male,17.000000,1.700000,NaN,##########,1.0,1,...,3.0,Sometimes,0,2.000000,0,2.000000,2.000000,Sometimes,Automobile,Obesity_Type_I
12451,5390,SeR70j4jAmAALIcc,Hauz Khas,Male,23.000000,1.900000,95.0,##########,1.0,1,...,3.0,Always,0,3.000000,0,3.000000,1.000000,Frequently,Walking,Obesity_Type_I
12452,860,hpCwdi6QVsaD7ZIc,Punjabi Bagh,Male,24.000000,1.790000,84.0,##########,1.0,0,...,3.0,Sometimes,0,3.000000,0,1.000000,0.000000,Sometimes,Automobile,Overweight_Level_II
12453,15795,BRdgjP92dtXlX1vp,Hauz Khas,Male,18.038422,1.799742,52.058335,##########,1.0,1,...,3.0,Sometimes,0,2.000000,0,0.794402,1.890214,Sometimes,Public_Transportation,Insufficient_Weight

In [6]:
test

,id,uid,Location,Gender,Age,Height,Weight,Hash,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode
0,10317,7w53s2NgM2arZAvM,Punjabi Bagh,Female,25.951979,1.669039,104.954291,##########,1.0,1,3.000000,3.0,Sometimes,0,2.092326,0,0.043101,0.540812,Sometimes,Public_Transportation
1,4074,kTLn00K8evgYXWxR,Hauz Khas,Female,40.993179,1.567973,81.022119,##########,1.0,1,2.921576,3.0,Sometimes,0,1.005727,0,1.034031,0.000000,0,Automobile
2,9060,81HX39uej0BR1xIl,Vasant Vihar,Male,21.000000,1.740000,76.0,##########,0.0,1,3.000000,3.0,Sometimes,0,3.000000,0,1.000000,0.000000,Sometimes,Public_Transportation
3,11286,DA9eqs9fs7wJUIet,Hauz Khas,Male,33.000000,1.680000,83.0,##########,1.0,1,2.000000,1.0,Sometimes,0,2.000000,0,1.000000,0.000000,Sometimes,Automobile
4,8254,SJ1Z7TBmojAPlJXd,SunderNagar,Female,35.194089,1.673482,73.193589,##########,1.0,0,3.000000,3.0,Sometimes,0,1.572371,0,1.806740,0.000000,Sometimes,Automobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,5294,gb0h3fw2irbHfbQF,Punjabi Bagh,Female,20.000000,1.600000,42.0,##########,0.0,1,3.000000,1.0,Frequently,0,1.000000,0,0.000000,0.000000,Sometimes,Public_Transportation
8300,4473,0nYHoAUSo64MYow1,Vasant Vihar,Female,21.420537,1.739457,133.735889,##########,1.0,1,3.000000,3.0,Sometimes,0,2.310921,0,1.618512,0.711331,Sometimes,Public_Transportation
8301,20603,fsY3VDGY5FxKByDJ,Punjabi Bagh,Female,18.000000,1.600000,60.0,##########,0.0,1,3.000000,3.0,Always,0,2.000000,0,1.000000,0.000000,0,Public_Transportation
8302,10907,vYHNnxWeiuJA9SoJ,Vasant Vihar,Female,18.014333,1.624099,45.0,##########,0.0,1,3.000000,3.0,Sometimes,0,2.000000,1,1.637368,0.105936,Sometimes,Public_Transportation
8303,8452,be1IBM4wuNjvtRJ9,VikasPuri,Male,19.000000,1.750000,70.0,##########,0.0,0,3.000000,3.0,Always,0,2.000000,0,2.000000,0.000000,Sometimes,Walking

In [7]:
train.drop(['id','uid','Hash'],axis=1,inplace=True)

In [8]:
train

,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode,Obesity_Level
0,SunderNagar,Male,23.000000,1.700000,83.0,1.0,0,2.000000,3.0,Sometimes,0,3.000000,0,3.000000,1.000000,0,Walking,Overweight_Level_II
1,Punjabi Bagh,Female,23.000000,1.600000,84.0,1.0,1,2.000000,3.0,Sometimes,0,3.000000,0,3.000000,0.000000,0,Public_Transportation,Obesity_Type_I
2,VikasPuri,Female,28.825223,1.549748,65.220249,1.0,0,2.000000,3.0,Sometimes,0,1.984323,0,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
3,Vasant Vihar,Male,25.341399,1.787195,115.428276,1.0,1,2.967300,3.0,Sometimes,0,2.535127,0,0.849811,1.899330,Sometimes,Public_Transportation,Obesity_Type_II
4,Vasant Vihar,Male,22.000000,1.750000,58.0,0.0,1,2.000000,4.0,Sometimes,0,2.000000,0,2.000000,0.000000,0,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12449,SunderNagar,Female,26.000000,1.639251,111.946321,1.0,1,3.000000,3.0,Sometimes,0,2.640539,0,0.000000,0.456462,Sometimes,Public_Transportation,Obesity_Type_III
12450,VikasPuri,Male,17.000000,1.700000,NaN,1.0,1,2.000000,3.0,Sometimes,0,2.000000,0,2.000000,2.000000,Sometimes,Automobile,Obesity_Type_I
12451,Hauz Khas,Male,23.000000,1.900000,95.0,1.0,1,2.000000,3.0,Always,0,3.000000,0,3.000000,1.000000,Frequently,Walking,Obesity_Type_I
12452,Punjabi Bagh,Male,24.000000,1.790000,84.0,1.0,0,2.000000,3.0,Sometimes,0,3.000000,0,1.000000,0.000000,Sometimes,Automobile,Overweight_Level_II
12453,Hauz Khas,Male,18.038422,1.799742,52.058335,1.0,1,2.824559,3.0,Sometimes,0,2.000000,0,0.794402,1.890214,Sometimes,Public_Transportation,Insufficient_Weight

In [9]:
test.drop(['uid','Hash'],axis=1,inplace=True)

In [10]:
test

,id,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode
0,10317,Punjabi Bagh,Female,25.951979,1.669039,104.954291,1.0,1,3.000000,3.0,Sometimes,0,2.092326,0,0.043101,0.540812,Sometimes,Public_Transportation
1,4074,Hauz Khas,Female,40.993179,1.567973,81.022119,1.0,1,2.921576,3.0,Sometimes,0,1.005727,0,1.034031,0.000000,0,Automobile
2,9060,Vasant Vihar,Male,21.000000,1.740000,76.0,0.0,1,3.000000,3.0,Sometimes,0,3.000000,0,1.000000,0.000000,Sometimes,Public_Transportation
3,11286,Hauz Khas,Male,33.000000,1.680000,83.0,1.0,1,2.000000,1.0,Sometimes,0,2.000000,0,1.000000,0.000000,Sometimes,Automobile
4,8254,SunderNagar,Female,35.194089,1.673482,73.193589,1.0,0,3.000000,3.0,Sometimes,0,1.572371,0,1.806740,0.000000,Sometimes,Automobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,5294,Punjabi Bagh,Female,20.000000,1.600000,42.0,0.0,1,3.000000,1.0,Frequently,0,1.000000,0,0.000000,0.000000,Sometimes,Public_Transportation
8300,4473,Vasant Vihar,Female,21.420537,1.739457,133.735889,1.0,1,3.000000,3.0,Sometimes,0,2.310921,0,1.618512,0.711331,Sometimes,Public_Transportation
8301,20603,Punjabi Bagh,Female,18.000000,1.600000,60.0,0.0,1,3.000000,3.0,Always,0,2.000000,0,1.000000,0.000000,0,Public_Transportation
8302,10907,Vasant Vihar,Female,18.014333,1.624099,45.0,0.0,1,3.000000,3.0,Sometimes,0,2.000000,1,1.637368,0.105936,Sometimes,Public_Transportation
8303,8452,VikasPuri,Male,19.000000,1.750000,70.0,0.0,0,3.000000,3.0,Always,0,2.000000,0,2.000000,0.000000,Sometimes,Walking

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12454 entries, 0 to 12453
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       12454 non-null  object
 1   Gender         12454 non-null  object
 2   Age            12454 non-null  float64
 3   Height         12422 non-null  float64
 4   Weight         12428 non-null  object
 5   FHO            12442 non-null  float64
 6   CHCF           12454 non-null  int64
 7   CV             12454 non-null  float64
 8   NCP            12454 non-null  float64
 9   CAEC           12440 non-null  object
 10  SMOKE          12454 non-null  int64
 11  Water          12454 non-null  float64
 12  CBC            12454 non-null  int64
 13  FAF            12454 non-null  float64
 14  TI             12439 non-null  float64
 15  CA             12454 non-null  object
 16  Mode           12454 non-null  object
 17  Obesity_Level  12454 non-null  object
dtypes: float64(8), int64(3), object(7)
memory usage: 1.7+ MB

In [12]:
train.shape

(12454, 18)

In [13]:
train.isna().sum()

Location          0
Gender            0
Age               0
Height           32
Weight           26
FHO              12
CHCF              0
CV                0
NCP               0
CAEC             14
SMOKE             0
Water             0
CBC               0
FAF               0
TI               15
CA                0
Mode              0
Obesity_Level     0
dtype: int64

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8304 entries, 0 to 8303
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        8304 non-null   int64
 1   Location  8304 non-null   object
 2   Gender    8304 non-null   object
 3   Age       8304 non-null   float64
 4   Height    8288 non-null   float64
 5   Weight    8286 non-null   object
 6   FHO       8296 non-null   float64
 7   CHCF      8304 non-null   int64
 8   CV        8304 non-null   float64
 9   NCP       8304 non-null   float64
 10  CAEC      8298 non-null   object
 11  SMOKE     8304 non-null   int64
 12  Water     8304 non-null   float64
 13  CBC       8304 non-null   int64
 14  FAF       8304 non-null   float64
 15  TI        8299 non-null   float64
 16  CA        8304 non-null   object
 17  Mode      8304 non-null   object
dtypes: float64(8), int64(4), object(6)
memory usage: 1.1+ MB

In [15]:
test.shape

(8304, 18)

In [16]:
test.isna().sum()

id           0
Location     0
Gender       0
Age          0
Height      16
Weight      18
FHO          8
CHCF         0
CV           0
NCP          0
CAEC         6
SMOKE        0
Water        0
CBC          0
FAF          0
TI           5
CA           0
Mode         0
dtype: int64

In [17]:
# Convert 'Weight' column to numeric, coerce errors to NaN
train['Weight'] = pd.to_numeric(train['Weight'], errors='coerce')
train['Weight'] = train['Weight'].astype(float)

In [18]:
test['Weight']=pd.to_numeric(test['Weight'], errors='coerce')
test['Weight']=test['Weight'].astype(float)

In [19]:
train['Weight'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 12454 entries, 0 to 12453
Series name: Weight
Non-Null Count  Dtype
--------------  -----
12424 non-null  float64
dtypes: float64(1)
memory usage: 97.4 KB

In [20]:
test['Weight'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8304 entries, 0 to 8303
Series name: Weight
Non-Null Count  Dtype
--------------  -----
8279 non-null   float64
dtypes: float64(1)
memory usage: 65.0 KB

In [21]:
#replacing nan with mean value in height,weight and TI
from sklearn.impute import SimpleImputer

In [22]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [23]:
train[['Weight','Height','TI']]=imputer.fit_transform(train[['Weight','Height','TI']]).astype('object')

In [24]:
train.isna().sum()

Location          0
Gender            0
Age               0
Height            0
Weight            0
FHO              12
CHCF              0
CV                0
NCP               0
CAEC             14
SMOKE             0
Water             0
CBC               0
FAF               0
TI                0
CA                0
Mode              0
Obesity_Level     0
dtype: int64

In [25]:
test[['Weight','Height','TI']]=imputer.fit_transform(test[['Weight','Height','TI']]).astype('object')

In [26]:
test.isna().sum()

id          0
Location    0
Gender      0
Age         0
Height      0
Weight      0
FHO         8
CHCF        0
CV          0
NCP         0
CAEC        6
SMOKE       0
Water       0
CBC         0
FAF         0
TI          0
CA          0
Mode        0
dtype: int64

In [27]:
train['FHO'].unique()

array([ 1.,  0., nan])

In [28]:
train['CAEC'].unique()

array(['Sometimes', 'Frequently', 'Always', '0', nan], dtype=object)

In [29]:
#replacing nan with mode of the values in case of FHO and CAEC
imputer_mode=SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [30]:
train[['FHO','CAEC']]=imputer_mode.fit_transform(train[['FHO','CAEC']]).astype('object')

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12454 entries, 0 to 12453
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       12454 non-null  object
 1   Gender         12454 non-null  object
 2   Age            12454 non-null  float64
 3   Height         12454 non-null  object
 4   Weight         12454 non-null  object
 5   FHO            12454 non-null  object
 6   CHCF           12454 non-null  int64
 7   CV             12454 non-null  float64
 8   NCP            12454 non-null  float64
 9   CAEC           12454 non-null  object
 10  SMOKE          12454 non-null  int64
 11  Water          12454 non-null  float64
 12  CBC            12454 non-null  int64
 13  FAF            12454 non-null  float64
 14  TI             12454 non-null  object
 15  CA             12454 non-null  object
 16  Mode           12454 non-null  object
 17  Obesity_Level  12454 non-null  object
dtypes: float64(5), int64(3), object(10)
memory usage: 1.7+ MB

In [32]:
test[['FHO','CAEC']]=imputer_mode.fit_transform(test[['FHO','CAEC']]).astype('object')

In [33]:
test.isna().sum()

id          0
Location    0
Gender      0
Age         0
Height      0
Weight      0
FHO         0
CHCF        0
CV          0
NCP         0
CAEC        0
SMOKE       0
Water       0
CBC         0
FAF         0
TI          0
CA          0
Mode        0
dtype: int64

In [34]:
train

,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode,Obesity_Level
0,SunderNagar,Male,23.000000,1.7,83.0,1.0,0,2.000000,3.0,Sometimes,0,3.000000,0,3.000000,1.0,0,Walking,Overweight_Level_II
1,Punjabi Bagh,Female,23.000000,1.6,84.0,1.0,1,2.000000,3.0,Sometimes,0,3.000000,0,3.000000,0.0,0,Public_Transportation,Obesity_Type_I
2,VikasPuri,Female,28.825223,1.549748,65.220249,1.0,0,2.000000,3.0,Sometimes,0,1.984323,0,1.000000,0.0,Sometimes,Public_Transportation,Overweight_Level_II
3,Vasant Vihar,Male,25.341399,1.787195,115.428276,1.0,1,2.967300,3.0,Sometimes,0,2.535127,0,0.849811,1.89933,Sometimes,Public_Transportation,Obesity_Type_II
4,Vasant Vihar,Male,22.000000,1.75,58.0,0.0,1,2.000000,4.0,Sometimes,0,2.000000,0,2.000000,0.0,0,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12449,SunderNagar,Female,26.000000,1.639251,111.946321,1.0,1,3.000000,3.0,Sometimes,0,2.640539,0,0.000000,0.456462,Sometimes,Public_Transportation,Obesity_Type_III
12450,VikasPuri,Male,17.000000,1.7,87.937533,1.0,1,2.000000,3.0,Sometimes,0,2.000000,0,2.000000,2.0,Sometimes,Automobile,Obesity_Type_I
12451,Hauz Khas,Male,23.000000,1.9,95.0,1.0,1,2.000000,3.0,Always,0,3.000000,0,3.000000,1.0,Frequently,Walking,Obesity_Type_I
12452,Punjabi Bagh,Male,24.000000,1.79,84.0,1.0,0,2.000000,3.0,Sometimes,0,3.000000,0,1.000000,0.0,Sometimes,Automobile,Overweight_Level_II
12453,Hauz Khas,Male,18.038422,1.799742,52.058335,1.0,1,2.824559,3.0,Sometimes,0,2.000000,0,0.794402,1.890214,Sometimes,Public_Transportation,Insufficient_Weight

In [35]:
train['Location'].unique()

array(['SunderNagar', 'Punjabi Bagh', 'VikasPuri', 'Vasant Vihar',
       'Hauz Khas'], dtype=object)

In [36]:
train['CAEC'].unique()

array(['Sometimes', 'Frequently', 'Always', '0'], dtype=object)

In [37]:
train['CA'].unique()

array(['0', 'Sometimes', 'Frequently'], dtype=object)

In [38]:
train['Mode'].unique()

array(['Walking', 'Public_Transportation', 'Automobile', 'Motorbike',
       'Bike', ' '], dtype=object)

In [39]:
#converting catagorical columns into numerical value
from sklearn.preprocessing import LabelEncoder

In [40]:
label_encoder=LabelEncoder()

In [41]:
train[['Location','Gender','CAEC','CA','Mode']]=train[['Location','Gender','CAEC','CA','Mode']].apply(LabelEncoder().fit_transform)

In [42]:
test[['Location','Gender','CAEC','CA','Mode']]=test[['Location','Gender','CAEC','CA','Mode']].apply(LabelEncoder().fit_transform)

In [43]:
train

,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode,Obesity_Level
0,2,1,23.000000,1.7,83.0,1.0,0,2.000000,3.0,3,0,3.000000,0,3.000000,1.0,0,5,Overweight_Level_II
1,1,0,23.000000,1.6,84.0,1.0,1,2.000000,3.0,3,0,3.000000,0,3.000000,0.0,0,4,Obesity_Type_I
2,4,0,28.825223,1.549748,65.220249,1.0,0,2.000000,3.0,3,0,1.984323,0,1.000000,0.0,2,4,Overweight_Level_II
3,3,1,25.341399,1.787195,115.428276,1.0,1,2.967300,3.0,3,0,2.535127,0,0.849811,1.89933,2,4,Obesity_Type_II
4,3,1,22.000000,1.75,58.0,0.0,1,2.000000,4.0,3,0,2.000000,0,2.000000,0.0,0,4,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12449,2,0,26.000000,1.639251,111.946321,1.0,1,3.000000,3.0,3,0,2.640539,0,0.000000,0.456462,2,4,Obesity_Type_III
12450,4,1,17.000000,1.7,87.937533,1.0,1,2.000000,3.0,3,0,2.000000,0,2.000000,2.0,2,1,Obesity_Type_I
12451,0,1,23.000000,1.9,95.0,1.0,1,2.000000,3.0,1,0,3.000000,0,3.000000,1.0,1,5,Obesity_Type_I
12452,1,1,24.000000,1.79,84.0,1.0,0,2.000000,3.0,3,0,3.000000,0,1.000000,0.0,2,1,Overweight_Level_II
12453,0,1,18.038422,1.799742,52.058335,1.0,1,2.824559,3.0,3,0,2.000000,0,0.794402,1.890214,2,4,Insufficient_Weight

In [44]:
test

,id,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode
0,10317,1,0,25.951979,1.669039,104.954291,1.0,1,3.000000,3.0,3,0,2.092326,0,0.043101,0.540812,2,4
1,4074,0,0,40.993179,1.567973,81.022119,1.0,1,2.921576,3.0,3,0,1.005727,0,1.034031,0.0,0,1
2,9060,3,1,21.000000,1.74,76.0,0.0,1,3.000000,3.0,3,0,3.000000,0,1.000000,0.0,2,4
3,11286,0,1,33.000000,1.68,83.0,1.0,1,2.000000,1.0,3,0,2.000000,0,1.000000,0.0,2,1
4,8254,2,0,35.194089,1.673482,73.193589,1.0,0,3.000000,3.0,3,0,1.572371,0,1.806740,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,5294,1,0,20.000000,1.6,42.0,0.0,1,3.000000,1.0,2,0,1.000000,0,0.000000,0.0,2,4
8300,4473,3,0,21.420537,1.739457,133.735889,1.0,1,3.000000,3.0,3,0,2.310921,0,1.618512,0.711331,2,4
8301,20603,1,0,18.000000,1.6,60.0,0.0,1,3.000000,3.0,1,0,2.000000,0,1.000000,0.0,0,4
8302,10907,3,0,18.014333,1.624099,45.0,0.0,1,3.000000,3.0,3,0,2.000000,1,1.637368,0.105936,2,4
8303,8452,4,1,19.000000,1.75,70.0,0.0,0,3.000000,3.0,1,0,2.000000,0,2.000000,0.0,2,5

In [45]:
train[['Obesity_Level']]=train[['Obesity_Level']].apply(LabelEncoder().fit_transform)

In [46]:
train

,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode,Obesity_Level
0,2,1,23.000000,1.7,83.0,1.0,0,2.000000,3.0,3,0,3.000000,0,3.000000,1.0,0,5,6
1,1,0,23.000000,1.6,84.0,1.0,1,2.000000,3.0,3,0,3.000000,0,3.000000,0.0,0,4,2
2,4,0,28.825223,1.549748,65.220249,1.0,0,2.000000,3.0,3,0,1.984323,0,1.000000,0.0,2,4,6
3,3,1,25.341399,1.787195,115.428276,1.0,1,2.967300,3.0,3,0,2.535127,0,0.849811,1.89933,2,4,3
4,3,1,22.000000,1.75,58.0,0.0,1,2.000000,4.0,3,0,2.000000,0,2.000000,0.0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12449,2,0,26.000000,1.639251,111.946321,1.0,1,3.000000,3.0,3,0,2.640539,0,0.000000,0.456462,2,4,4
12450,4,1,17.000000,1.7,87.937533,1.0,1,2.000000,3.0,3,0,2.000000,0,2.000000,2.0,2,1,2
12451,0,1,23.000000,1.9,95.0,1.0,1,2.000000,3.0,1,0,3.000000,0,3.000000,1.0,1,5,2
12452,1,1,24.000000,1.79,84.0,1.0,0,2.000000,3.0,3,0,3.000000,0,1.000000,0.0,2,1,6
12453,0,1,18.038422,1.799742,52.058335,1.0,1,2.824559,3.0,3,0,2.000000,0,0.794402,1.890214,2,4,0

In [47]:
x=train.drop(columns ='Obesity_Level',axis=1)
y=train['Obesity_Level']

In [48]:
x

,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode
0,2,1,23.000000,1.7,83.0,1.0,0,2.000000,3.0,3,0,3.000000,0,3.000000,1.0,0,5
1,1,0,23.000000,1.6,84.0,1.0,1,2.000000,3.0,3,0,3.000000,0,3.000000,0.0,0,4
2,4,0,28.825223,1.549748,65.220249,1.0,0,2.000000,3.0,3,0,1.984323,0,1.000000,0.0,2,4
3,3,1,25.341399,1.787195,115.428276,1.0,1,2.967300,3.0,3,0,2.535127,0,0.849811,1.89933,2,4
4,3,1,22.000000,1.75,58.0,0.0,1,2.000000,4.0,3,0,2.000000,0,2.000000,0.0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12449,2,0,26.000000,1.639251,111.946321,1.0,1,3.000000,3.0,3,0,2.640539,0,0.000000,0.456462,2,4
12450,4,1,17.000000,1.7,87.937533,1.0,1,2.000000,3.0,3,0,2.000000,0,2.000000,2.0,2,1
12451,0,1,23.000000,1.9,95.0,1.0,1,2.000000,3.0,1,0,3.000000,0,3.000000,1.0,1,5
12452,1,1,24.000000,1.79,84.0,1.0,0,2.000000,3.0,3,0,3.000000,0,1.000000,0.0,2,1
12453,0,1,18.038422,1.799742,52.058335,1.0,1,2.824559,3.0,3,0,2.000000,0,0.794402,1.890214,2,4

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [51]:
len(x_train)

9963

In [52]:
len(x_test)

2491

In [53]:
y

0        6
1        2
2        6
3        3
4        0
        ..
12449    4
12450    2
12451    2
12452    6
12453    0
Name: Obesity_Level, Length: 12454, dtype: int32

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
clf=RandomForestClassifier()

In [56]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [57]:
y_pred=clf.predict(x_test)

In [58]:
y_pred

array([0, 6, 0, ..., 5, 1, 0])

In [59]:
from sklearn import metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error,r2_score
from sklearn.metrics import mean_squared_error,f1_score

In [60]:
print("Random Forest Classifier")
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred,average='weighted'))
print("Recall:",metrics.recall_score(y_test, y_pred,average='weighted'))
print("F1 Score:",metrics.f1_score(y_test, y_pred,average='weighted'))

Random Forest Classifier
Accuracy: 0.8924126856684063
Precision: 0.8925154303550964
Recall: 0.8924126856684063
F1 Score: 0.8921822517640773

In [61]:
test

,id,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode
0,10317,1,0,25.951979,1.669039,104.954291,1.0,1,3.000000,3.0,3,0,2.092326,0,0.043101,0.540812,2,4
1,4074,0,0,40.993179,1.567973,81.022119,1.0,1,2.921576,3.0,3,0,1.005727,0,1.034031,0.0,0,1
2,9060,3,1,21.000000,1.74,76.0,0.0,1,3.000000,3.0,3,0,3.000000,0,1.000000,0.0,2,4
3,11286,0,1,33.000000,1.68,83.0,1.0,1,2.000000,1.0,3,0,2.000000,0,1.000000,0.0,2,1
4,8254,2,0,35.194089,1.673482,73.193589,1.0,0,3.000000,3.0,3,0,1.572371,0,1.806740,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,5294,1,0,20.000000,1.6,42.0,0.0,1,3.000000,1.0,2,0,1.000000,0,0.000000,0.0,2,4
8300,4473,3,0,21.420537,1.739457,133.735889,1.0,1,3.000000,3.0,3,0,2.310921,0,1.618512,0.711331,2,4
8301,20603,1,0,18.000000,1.6,60.0,0.0,1,3.000000,3.0,1,0,2.000000,0,1.000000,0.0,0,4
8302,10907,3,0,18.014333,1.624099,45.0,0.0,1,3.000000,3.0,3,0,2.000000,1,1.637368,0.105936,2,4
8303,8452,4,1,19.000000,1.75,70.0,0.0,0,3.000000,3.0,1,0,2.000000,0,2.000000,0.0,2,5

In [62]:
test_df=test.drop(columns='id',axis=1)

In [63]:
test_df

,Location,Gender,Age,Height,Weight,FHO,CHCF,CV,NCP,CAEC,SMOKE,Water,CBC,FAF,TI,CA,Mode
0,1,0,25.951979,1.669039,104.954291,1.0,1,3.000000,3.0,3,0,2.092326,0,0.043101,0.540812,2,4
1,0,0,40.993179,1.567973,81.022119,1.0,1,2.921576,3.0,3,0,1.005727,0,1.034031,0.0,0,1
2,3,1,21.000000,1.74,76.0,0.0,1,3.000000,3.0,3,0,3.000000,0,1.000000,0.0,2,4
3,0,1,33.000000,1.68,83.0,1.0,1,2.000000,1.0,3,0,2.000000,0,1.000000,0.0,2,1
4,2,0,35.194089,1.673482,73.193589,1.0,0,3.000000,3.0,3,0,1.572371,0,1.806740,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,1,0,20.000000,1.6,42.0,0.0,1,3.000000,1.0,2,0,1.000000,0,0.000000,0.0,2,4
8300,3,0,21.420537,1.739457,133.735889,1.0,1,3.000000,3.0,3,0,2.310921,0,1.618512,0.711331,2,4
8301,1,0,18.000000,1.6,60.0,0.0,1,3.000000,3.0,1,0,2.000000,0,1.000000,0.0,0,4
8302,3,0,18.014333,1.624099,45.0,0.0,1,3.000000,3.0,3,0,2.000000,1,1.637368,0.105936,2,4
8303,4,1,19.000000,1.75,70.0,0.0,0,3.000000,3.0,1,0,2.000000,0,2.000000,0.0,2,5

In [64]:
prediction=clf.predict(test_df)

In [65]:
prediction

array([4, 2, 5, ..., 1, 0, 1])

In [66]:
test_id=test['id']

In [67]:
result_df=pd.DataFrame({
    'id':test_id,
    'Obesity_Level':prediction
})

In [68]:
result_df

         id  Obesity_Level
0     10317              4
1      4074              2
2      9060              5
3     11286              6
4      8254              5
...     ...            ...
8299   5294              0
8300   4473              4
8301  20603              1
8302  10907              0
8303   8452              1

[8304 rows x 2 columns]

In [69]:
# Define the reverse mapping dictionary
reverse_mapping_dict = {
    4: 'Obesity_Type_III',
    3: 'Obesity_Type_II',
    1: 'Normal_Weight',
    2: 'Obesity_Type_I',
    6: 'Overweight_Level_II',
    0: 'Insufficient_Weight',
    5: 'Overweight_Level_I'
}

In [70]:
result_df['Obesity_Level']=result_df['Obesity_Level'].map(reverse_mapping_dict)

In [71]:
result_df

         id        Obesity_Level
0     10317     Obesity_Type_III
1      4074       Obesity_Type_I
2      9060   Overweight_Level_I
3     11286  Overweight_Level_II
4      8254   Overweight_Level_I
...     ...                  ...
8299   5294  Insufficient_Weight
8300   4473     Obesity_Type_III
8301  20603        Normal_Weight
8302  10907  Insufficient_Weight
8303   8452        Normal_Weight

[8304 rows x 2 columns]

In [72]:
result_df.to_csv('result.csv',index=False)